body{
    margin:0;
    font-family: Arial;
    background:wheat;
    color:white;
}
/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background:green;
}
/*logo*/
.logo{
    color:green;
}
/*NAVIGATION*/
.nav-links{
    display: flex;
    list-style: none;
    gap: 40px;
    color: white;
}
.nav-links li{
    margin-right: 30px;
    color: white;
    text-decoration: none;
}
.nav-links li a{
    color: rgb(249, 246, 246);
    text-decoration: none;
    font-size: 16px;
    /* margin: 0 50px; */
}
    .nav link a:hover{
        color: green;
    }
.nav-button a {
    margin-left: 15px;
    text-decoration: none;
    padding:8px 18px ;
    border-radius: 20px;
}

/*MOBILE RESPONSIVE*/
@Media(max-width:768px)
{
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: 200px;
        padding: 20px;
    }
nav ul.show{
    display: block;
}
nav{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: bold;
}
.hero{
    flex-direction: column;
    text-align: center;
}
.hero-image.img{
    width: 90%;
    margin-top: 30px;
}
}

























































